.xls{        
    display:block;
   
}
.xls:before{
   content: '';
   background:url('../../assets/images/icons/excel.png');
   background-size: 30px 30px;
   position:absolute;
   width:30px;
   height:30px;
   
}
.xlsx{        
    display:block;
   
}
.xlsx:before{
   content: '';
   background:url('../../assets/images/icons/excel.png');
   background-size: 30px 30px;
   position:absolute;
   width:30px;
   height:30px;
   
}
.csv{        
    display:block;
   
}
.csv:before{
   content: '';
   background:url('../../assets/images/icons/excel.png');
   background-size: 30px 30px;
   position:absolute;
   width:30px;
   height:30px;
   
}
.png{        
    display:block;
   
}
.png:before{
   content: '';
   background:url('../../assets/images/icons/png.png');
   background-size: 40px 40px;
   position:absolute;
   width:40px;
   height:40px;
   
}
.jpg{        
    display:block;
   
}
.jpg:before{
   content: '';
   background:url('../../assets/images/icons/jpg.png');
   background-size: 40px 40px;
   position:absolute;
   width:40px;
   height:40px;
    
}
.jpeg{        
    display:block;
   
}
.jpeg:before{
   content: '';
   background:url('../../assets/images/icons/jpg.png');
   background-size: 40px 40px;
   position:absolute;
   width:40px;
   height:40px;
   
}
.pdf{        
    display:block;
   
}
.pdf:before{
   content: '';
   background:url('../../assets/images/icons/pdf.png');
   background-size: 40px 40px;
   position:absolute;
   width:40px;
   height:40px;
   
}
.txt{        
    display:block;
   
}
.txt:before{
   content: '';
   background:url('../../assets/images/icons/txt.png');
   background-size: 40px 40px;
   position:absolute;
   width:40px;
   height:40px;
   
}