
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Relatórios</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Visões
                </li>
              </ol>
            </div>
          </div>
        </div>
     
      </div>
      <div class="content-body"><div class="row">
  <div class="col-md-10 col-12  order-2">
      <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                  <div class="card">
                      <div class="card-header" id="heading11">
                          <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" href="#">Solicitar</a>
                          
                        </div>
                      <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordion">
                          <div class="card-body">
                              Será enviado por e-mail o relatório atualizado com o seu informe de rendimentos.    
                              <br>
                                <br>
                                <button href="#" class="mb-0 btn-sm btn btn-outline-success rounded-pill">Enviar</button>
                             
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="heading12">
                          <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" href="#">Não recebi o e-mail, o que eu faço?</a>
                      </div>
                      <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                          <div class="card-body">
                              Verifique a sua caixa de spam, caso não encontre entre em contato conosco através do nosso suporte.
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="heading13">
                          <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" href="#">As informações estão desatualizadas, o que eu faço?</a>
                      </div>
                      <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                          <div class="card-body">
                              Verifique se todas as suas operações foram importadas na pagina de "Notas", utilize a opção download para baixar e conferi-las
                          </div>
                      </div>
                  </div>
                  
                  <div class="card">
                      <div class="card-header" id="heading15">
                          <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" href="#">Preciso subir mais notas, como proceder?</a>
                      </div>
                      <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                          <div class="card-body">
                              Basta clicar no botão de upload e escolher as suas notas.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                <div class="card">
                    <div class="card-header" id="heading11">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" href="#">Solicitar</a>
                    </div>
                    <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordion">
                        <div class="card-body">
                            Será enviado por e-mail o relatório atualizado com a sua carteira.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading12">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" href="#">Não recebi o e-mail, o que eu faço?</a>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                        <div class="card-body">
                            Verifique a sua caixa de spam, caso não encontre entre em contato conosco através do nosso suporte.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading13">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" href="#">As informações estão desatualizadas, o que eu faço?</a>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                        <div class="card-body">
                            Verifique se todas as suas operações foram importadas na pagina de "Notas", utilize a opção download para baixar e conferi-las
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="heading15">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" href="#">Preciso subir mais notas, como proceder?</a>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                        <div class="card-body">
                            Basta clicar no botão de upload e escolher as suas notas.
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                <div class="card">
                    <div class="card-header" id="heading11">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" href="#">Solicitar</a>
                    </div>
                    <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordion">
                        <div class="card-body">
                            Será enviado por e-mail o relatório atualizado com as suas taxas e impostos.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading12">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" href="#">Não recebi o e-mail, o que eu faço?</a>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                        <div class="card-body">
                            Verifique a sua caixa de spam, caso não encontre entre em contato conosco através do nosso suporte.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading13">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" href="#">As informações estão desatualizadas, o que eu faço?</a>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                        <div class="card-body">
                            Verifique se todas as suas operações foram importadas na pagina de "Notas", utilize a opção download para baixar e conferi-las
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="heading15">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" href="#">Preciso subir mais notas, como proceder?</a>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                        <div class="card-body">
                            Basta clicar no botão de upload e escolher as suas notas.
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                <div class="card">
                    <div class="card-header" id="heading11">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" href="#">Solicitar</a>
                    </div>
                    <div id="collapse11" class="collapse show" aria-labelledby="heading11" data-parent="#accordion">
                        <div class="card-body">
                            Será enviado por e-mail o relatório atualizado com o seu extrato.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading12">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" href="#">Não recebi o e-mail, o que eu faço?</a>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                        <div class="card-body">
                            Verifique a sua caixa de spam, caso não encontre entre em contato conosco através do nosso suporte.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading13">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" href="#">As informações estão desatualizadas, o que eu faço?</a>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                        <div class="card-body">
                            Verifique se todas as suas operações foram importadas na pagina de "Notas", utilize a opção download para baixar e conferi-las
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="heading15">
                        <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" href="#">Preciso subir mais notas, como proceder?</a>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                        <div class="card-body">
                            Basta clicar no botão de upload e escolher as suas notas.
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-2 col-12 order-1">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Informe de  Rendimentos</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Carteira</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Taxas e Impostos</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Extrato</a>
      </div>
  </div>
</div>
      </div>
    </div>
  </div>