// .currency:before{ content:'$'; }
// .currency:after{ content: '.00'; }
.green{
    color: green;
  
}
.bg-green{
    background-color: #f0fff8 !important;
}
.bg-red{
    background-color: #fff0f0 !important;
    
}